body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;  
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;

}


h1 {
    color: #333;
    margin : 10px 0;
}

button {
    background-color: #68df8a;
    color: white;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    display: block;
    border-radius: 30px;
    
}

startButton {
    background-color: #68df8a;
    color: white;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 100px;
}
button:hover {
    background-color: #68df8a;
}

.container img {
    max-width: 100%; /* Make sure the image doesn't overflow the div */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make the image behave like a block element */
    margin: 0 auto; /* Center the image */
  }